:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-very-dark-blue: hsl(232, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
}

* {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}

body {
  background-color: #fafafa;
}

.container {
  margin-top: 85px;
  margin-right: calc((32 / 375) * 100%);
  margin-left: calc((32 / 375) * 100%);
  margin-bottom: 78px;
}

.header-group {
  text-align: center;
  width: 100%;
}

.main-heading {
  font-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
  font-weight: 275;
  line-height: 1.5;
  letter-spacing: 0.17px;
  color: var(--neutral-very-dark-blue);
}

.sub-heading {
  margin-top: 1px;
  font-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.17px;
  color: var(--neutral-very-dark-blue);
}

.header-detail {
  font-size: 0.9375rem;
  margin-top: 16px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.1px;
  color: var(--neutral-very-dark-blue);
  opacity: 0.5;
}

.card-group {
  margin-top: 76px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
}

.card {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px hsla(213, 47%, 67%, 0.5);
  padding-top: 27px;
  padding-right: calc((28 / 311) * 100%);
  padding-left: calc((28 / 311) * 100%);
  padding-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--neutral-very-dark-blue);
}

.card-detail {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.77;
  letter-spacing: 0.09px;
  color: var(--neutral-very-dark-blue);
  opacity: 0.5;
}

.card-img-container {
  margin-top: 33px;
  text-align: right;
}

.card-img {
  width: 57px;
  height: 57px;
}

.supervisor-card {
  border-top: 3.55px solid var(--primary-cyan);
}

.team-builder-card {
  border-top: 3.55px solid var(--primary-red);
}

.karma-card {
  border-top: 3.55px solid var(--primary-orange);
}

.calculator-card {
  border-top: 3.55px solid var(--primary-blue);
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 80px;
    margin-right: calc((165 / 1440) * 100%);
    margin-left: calc((165 / 1440) * 100%);
    margin-bottom: 80px;
  }
  .header-group {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
  .card-group {
    margin-top: 64px;
    grid-template-areas: ". team-builder ."
          "supervisor team-builder calculator"
          "supervisor karma calculator"
          ". karma .";
  }
  .card {
    padding-top: 32px;
    padding-right: calc((32 / 350) * 100%);
    padding-left: calc((32 / 350) * 100%);
    padding-bottom: 32px;
  }
  .karma-card {
    grid-area: karma;
  }
  .supervisor-card {
    grid-area: supervisor;
  }
  .team-builder-card {
    grid-area: team-builder;
  }
  .calculator-card {
    grid-area: calculator;
  }
  .card-detail {
    margin-top: 6px;
  }
  .card-img-container {
    margin-top: 40px;
  }
  .card-img {
    width: 64px;
    height: 64px;
  }
}
